body{
    margin:0;
    padding:0;
	font-family: 'indie flower';
	/* background: url(""); */
    /* background-image: url("images/IMG_3163.jpg"); */
	background-color: lightblue;
}
h1{
	font-family: 'Sigmar', cursive;
	position:absolute;
	z-index:101;
	color:rgb(165, 101, 42);
	text-align: center;
	left: 35%;
	outline: black;
	-webkit-text-stroke: black;
}
h3{
	color:white;
	z-index:200;
	position: absolute;
	font-family: 'Sigmar', cursive;
	top:70vh;
	left:20vw;
}
img{
    position: fixed;
    padding: 0;
    width: 100vw;
    height:130vh;
    border: none;
    top: -12vh;
    z-index: 0;
}

.timeline {
    position: absolute;
    z-index: 100;
	width:800px;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 40% 20%;
	border: #fff;
	color: white;
    font-size: 14px;
	/* background: #fff; */
	/* background-color: #fff; */
	/* background: gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0))); */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(255, 255, 255) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:hover{
	cursor: default;
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
    color: white;
}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
	border: 4px blue;
}

.timeline li:hover{
	background-color: black;
	cursor: pointer;
	border: 10px white;
}
.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	/* font-size: 26px; */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: 30px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	/* font-size: 16px; */
	position: absolute;
	left: 50%;
	border:1px white;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: 10px;
	transform: translate(-50%, 100%);
} */
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}

.hide{
	opacity: 0;
}

.fade{
	animation: fade-in 1s;
}

@keyframes fade-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}