body{
    font-family: 'Roboto', sans-serif;
    /* width:100vw; */
    z-index:0;
    background-color: white;
}

main{
  position: relative;
  display:flex;
  flex-direction: column;
  height:90vh;
  background-color: rgb(255, 255, 255);
}

.top-text{
  position: relative;
  height:5vh;
  width:100vw;
  /* left:10vw;
  right: 10vw; */
  font-weight: 300;
  z-index:0;
  padding-left: 0vw;
}

.top-text p{
  top: 0;
}

.front-image{
    position: relative;
    width:100vw;
    height: 45vh;
    z-index:100;
    border: none;
    display:block;
    /* padding-left: 15vw; */
    margin-left: auto;
    margin-right: auto;
    top:10vh;
    /* top:15vh; */
    /* left: 20vw; */
    /* padding: 30vw; */
    /* padding-left: ; */
    justify-content: center;
}

.green-icon{
  /* position: absolute; */
  /* padding-top: 20vh;
  padding-left: 20vw; */
  width:40vw;
  height: 18vh;
  z-index:150;
  border: none;
  outline: none;
  /* top:15vh; */
  /* padding: 30vw; */
 /* right:48vw; */
 
  /* padding-left: ; */
  /* justify-content: center; */
}

.block1{
  position: absolute;
  width:100vw;
  height:50vh;
  top:43vh;
  background-color: blue;
  color:white;
}

.banner{
    position: absolute;
    width:50vw;
    height: 9vh;
    background-color: white;
    z-index: 200;
    border-radius: 20px;
    top: 15vh;
    left: 40vw;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}

video{
  padding:0;
  left:0;
  height: 100vh;
  position: fixed;
  /* z-index:300; */

}
h1{
    /* top:5vh; */
    padding-top: 5vh;
    padding-left:5vw;
    z-index: 0;
    padding-right: 5vw;
    color:rgb(32, 32, 32);
}

.d{
    font-size: .9em;
    padding-left:2vw;
    position: absolute;
    top:0;
    
}


h5{
    /* padding-top:-20vh; */
    position: absolute;
    /* top:1.5vh; */
    padding-left:5vw;
    color:rgb(115, 115, 115)
}

.container{
    height: 100vh;
    z-index:300;
    /* background-color: black; */
}

.c{
  border:20px solid white;
  border-bottom: 80px solid white;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}

.img-generic{
  /* position: absolute; */
  /* top:10vh; */
  /* padding-top: 1vh; */
  justify-self: center;
  width:80vw;
  height:25vh;
  border:20px solid white;
  border-bottom: 80px solid white;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}

h1 a{
    color:blue;
    z-index: 0;
}

.map{
    width:100vw;
    height:80vh;
    background: grey;
    color:black;
}
#map a{
  color: rgb(87, 87, 87);
  text-decoration: none;
  font-weight: 700;
}
#map{
  width:100vw;
  height:80vh;
}

/* .t{
    /* position: absolute; */
    /* left:10vw;
    right: 10vw;
    font-weight: 300;
    z-index:0;
    top:10vh; */

/* .front-butt{
  position: absolute;
  top: 70vh;
  height:25vh;
  /* left:25vw; */



.fb{
  padding-top: 2vh;
  padding-left:30vw;
}

.u{
  /* text-decoration: underline; */
  font-weight: 400;
  font-size: .9em;
  /* padding-top: 1vh; */
  color:rgb(121, 121, 121);
}

a{
  text-decoration: underline;
}

.blue{
  color: cornflowerblue;
}

a:visited{
  color: black;
}

.front-image img{
    /* position: absolute; */
    justify-content: center;
    z-index: 90;
    width:55vw;
    height:20h;
    /* padding-right: 5vw;  */
    top:45vw;
    left:20vw;
    border:20px solid white;
    border-bottom: 80px solid white;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}

.history a{
  color:black;
}

.img-desc{
    position: absolute;
    /* padding-bottom: 5vh; */
    top:43vh;
    padding-right:40vw;
    padding-left:5vw;
    z-index:100;
}
/* strong{
    font-weight: 500;
} */
.green{
  /* color: rgb(59, 201, 59);
   */
   text-decoration: none;
   font-weight: 800;
   color:blue;
}

a .green{
  text-decoration: none;
 
  font-weight: 700;
  color:blue;
}

.green:visited{
  color:blue;
}
.topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    /* border-radius: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    color:blue;
  }

  .split-top{
    display: flex;
    flex-direction: row;
    color: blue;
  }

  .logo{
    width:28vw;
    height:10vh;
    /* padding-top:10vh; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 20px 16px;
    /* padding-right: 0px; */
    text-decoration: none;
    font-size: 17px;
    display: block;
    z-index:100;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover {
    background-color: black;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  .active {
    /* position: absolute; */
    background-color: #fff;
    color: white;
  }
  
  button{
    /* position: absolute; */
    top:77vh;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-items: center;
    left:35vw;
    background-color: blue;
    border-radius: 30px;
    height:3em;
    width: 7em;
    color:white;
    font-weight:400;
    border: none;
    font-size: 17px;
    z-index:100;
  }

  svg{
    /* position: absolute; */
    width:7em;
    height:3em;
    top:10vh;
    /* left:30vw; */
    z-index: 101; 
    /* background-color: none;
    */
  }
  
  

  .note{
    background-color: white;
    height:40vh;
    width:75vw;
    z-index: 200;
    top:20vh;
    left:20vw;
    border-radius: 20px;
    position: absolute;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));

  }

  .n{
    position: absolute;
    top:10vh;
  }

  .n1{
    position: absolute;
    top:30vh;
    left:39vw;
  }
  
  .n2{
    position: absolute;
    top:30vh;
    left:5vw;
  }

  .pop-img{
    /* position: absolute; */
    width:25vw;
    height:7vh;
    /* padding:0; */
  }

  .hide{
    opacity: 0;
    z-index:0;
  }

  /* main p, h3{
    position: absolute;
    padding-left:10vw;
  }*/

  h4{
    /* position: absolute; */
    padding-left:5vw;
    font-size: 1.25em;
    color: rgb(84, 84, 84);
    padding-right: 5vw;
    /* top:20vh;s */
    font-weight: 400;
  } 

  /* strong{
    color:blue;
  } */
  
  p{
    top: 60vh;
    padding-left:15vw;
    padding-right:10vw;
    /* color:white; */
  }

 .r{
    position: absolute;
    left:0;
    z-index:-1;
    background-color: royalblue;
    height:70vh;
    width:100vw;
    padding:0;
    top:85vh;
    padding-top: 5vh;
    color: white;
 }


 /* h4, h2{
  /* position: absolute; */


  /* letter-spacing: .1em */
 

 .review{
  position: absolute;
  color:white;
  top: 15vh;
  font-size: 14px;
 
 }

form{
  height:50vh;
  width:70vw;
  left:10vw;
  top:20vh;
  padding-top: 4vh;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  z-index: 400;
  padding-left: 10vw;
}
form h2{
  padding-left: 0vw;
}

h2{
  padding-left:10vw;
}

input{
  border-radius: 20px;
  padding: 0;
  height:30vh;
  width: 60vw;
  background-color: gainsboro;
  border: none;
}

input[type=text]:focus{
  outline: none;
  border:5px solid rgb(98, 98, 98);
}

input[type=submit]{
  position: absolute;
  top:45vh;
  left:25vw;
  background-color: blue;
  border-radius: 30px;
  height:3em;
  width: 7em;
  color:white;
  font-weight:400;
  border: none;
  font-size: 17px;
  z-index:100;
}

.svg{
  background-color: rgba(255, 48, 48, 0);
  position: absolute;
  width:7em;
  height:3em;
  top:18vh;
  left:65vw;
  z-index: 100;
}

.sample-note{
  position: absolute;
  background-color: white;
  border-radius: 20px;
  z-index: 100;
  width:70vw;
  height:25vh;
  padding: 0;
  top: 50vh;
}
/* .svg:hover{
  background-color: #fff;
} */