body, main{
    font-family: 'Roboto', sans-serif;
    /* width:100vw; */
    z-index:0;
}

.green-icon{
    width:100px;
    height: 100px;
    z-index:90;
    border: none;
    top:30vh;
    left:30vw;
}

.banner{
    position: absolute;
    width:50vw;
    height: 8vh;
    background-color: white;
    z-index: 100;
    border-radius: 20px;
    top: 30vh;
    left: 45vw;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}

video{
  padding:0;
  left:0;
  height: 100vh;
  position: fixed;

}
h1{
    padding-left:5vw;
    z-index: 0;
}

.d{
    font-size: .9em;
    padding-left:2vw;
    
}

h5{
    /* padding-top:-20vh; */
    position: absolute;
    top:1.5vh;
    padding-left:2vw;
    color:rgb(115, 115, 115)
}

.container{
    height: 200vh;
}

h1 a{
    color:blue;
    z-index: 0;
}

.map{
    width:100vw;
    height:80vh;
    background: grey;
}

.t{
    position: absolute;
    left:10vw;
    right: 10vw;
    font-weight: 300;
    z-index:0;
    top:15vh;
}

.front-image{
    position: absolute;
    width:90vw;
    height:20h;
    left: 0vw; 
    top:10vw;
}

main img{
    position: absolute;
    width:55vw;
    height:20h;
    left: 17vw; 
    top:45vw;
    border:20px solid white;
    border-bottom: 80px solid white;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));
}
.img-desc{
    position: absolute;
    top:58vh;
    padding-right:5vw;
    padding-left:22vw;
    z-index:100;
}
strong{
    font-weight: 500;
}
.topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    /* border-radius: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
  }

  .split-top{
    display: flex;
    flex-direction: row;
  }

  .logo{
    width:150px;
    height:13vh;
    /* padding-top:10vh; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 20px 16px;
    /* padding-right: 0px; */
    text-decoration: none;
    font-size: 17px;
    display: block;
    z-index:100;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover {
    background-color: black;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  .active {
    /* position: absolute; */
    background-color: #fff;
    color: white;
  }
  
  button{
    position: absolute;
    top:77vh;
    left:35vw;
    background-color: blue;
    border-radius: 30px;
    height:3em;
    width: 7em;
    color:white;
    font-weight:400;
    border: none;
    font-size: 17px;
    z-index:100;
  }

  svg{
    /* position: absolute; */
    width:7em;
    height:3em;
    /* top:10vh;
    left:30vw;
    z-index: 100; */
    /* background-color: none;
    */
  }
  
  

  .note{
    background-color: white;
    height:40vh;
    width:75vw;
    z-index: 200;
    top:20vh;
    left:20vw;
    border-radius: 20px;
    position: absolute;
    filter: drop-shadow(10px 10px 20px rgba(53, 53, 53, 0.315));

  }

  .n{
    position: absolute;
    top:10vh;
  }

  .n1{
    position: absolute;
    top:30vh;
    left:39vw;
  }
  
  .n2{
    position: absolute;
    top:30vh;
    left:5vw;
  }

  .pop-img{
    /* position: absolute; */
    width:25vw;
    height:7vh;
    /* padding:0; */
  }

  .hide{
    opacity: 0;
  }

  main p, h3{
    position: absolute;
    padding-left:10vw;
  }

  h3{
    top: 50vh;
    padding:8vw;
    /* color:; */
    font-size: 25px;
  }
  p{
    top: 60vh;
    padding-left:15vw;
    padding-right:10vw;
    /* color:white; */
  }

 .r{
    position: absolute;
    left:0;
    z-index:-1;
    background-color: royalblue;
    height:70vh;
    width:100vw;
    padding:0;
    top:85vh;
    padding-top: 5vh;
    color: white;
 }


 h4, h2{
  /* position: absolute; */
    padding-left:10vw;
 }

 h4{
  /* letter-spacing: .1em */
 }

 .review{
  position: absolute;
  color:white;
  top: 15vh;
  font-size: 14px;
 
 }

form{
  height:50vh;
  width:70vw;
  left:10vw;
  top:20vh;
  padding-top: 4vh;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  z-index: 100;
  padding-left: 10vw;
}
form h2{
  padding-left: 0vw;
}

input{
  border-radius: 20px;
  padding: 0;
  height:30vh;
  width: 60vw;
  background-color: gainsboro;
  border: none;
}

input[type=submit]{
  position: absolute;
  top:45vh;
  left:25vw;
  background-color: blue;
  border-radius: 30px;
  height:3em;
  width: 7em;
  color:white;
  font-weight:400;
  border: none;
  font-size: 17px;
  z-index:100;
}

.svg{
  background-color: rgba(255, 48, 48, 0);
  position: absolute;
  width:7em;
  height:3em;
  top:18vh;
  left:65vw;
  z-index: 100;
}


/* .svg:hover{
  background-color: #fff;
} */